* {
  margin: 0;
  padding: 0;
}

#main {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
}

#edit,
#json,
#hexes {
  display: inline-block;
  height: 100vh;
  flex: 1;
}

#edit {
  padding: 8px;
  background-color: darkgrey;
  flex: 0 0 200px;
  font-size: large;
  font-weight: normal;
}
#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#edit select {
  padding: 2px 4px;
  border-radius: 0;
  border: 2px solid black;
}

#edit button {
  width: calc(200px - 10%);
  border: none;
  height: 20px;
  margin: 3px;
  border-radius: 10px;
  font-size: medium;
}
#edit button.light {
  /* color: blue; */
}

#json {
  background-color: lightgrey;
  flex: 0 0 200px;
}

#hexes {
  position: relative;
  background-color: white;
}

.hex {
  width: 80px;
  height: calc(sqrt(3) * 40px);
  position: absolute;
  background-image: url(../gfx/hex.png);
  background-size: 80px;
  /* background-color: green; */
}
.h1 {
  background-image: url(../gfx/1.png);
}
.h2 {
  background-image: url(../gfx/2.png);
}
.h3 {
  background-image: url(../gfx/3.png);
}
.h4 {
  background-image: url(../gfx/4.png);
}
.h5 {
  background-image: url(../gfx/5.png);
}
.h6 {
  background-image: url(../gfx/6.png);
}
